* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.header-block {
  width: 1024px;
  height: 70px;
  display: flex;
  margin: auto;
}

.header-logo {
  height: 100%;
}

.nav-list {
  margin-left: auto;
  display: block !important;
}

.nav-list-item {
  display: inline-block;
  font-size: 16px;
  color: #fafafa;
  margin: 25px 30px;
}

#hamburger {
  display: none !important;
}

.main-visual {
  background-image: url(img/mv.png);
  height: 650px;
  background-size: contain;
}

.main-visual-content {
  padding-top: 200px;
  font-size: 64px;
  color: #fafafa;
  text-align: center;
}

.main-visual-content-sub {
  padding-top: 10px;
  font-size: 20px;
  color: #fafafa;
  text-align: center;
}

/* portfolio css */
.port-content {
  width: 100%;
  background-color: #eceff1;
}
.port-port {
  width: 920px;
  margin: 0 auto;
}
.title {
  padding-top: 90px;
  text-align: center;
  font-size: 32px;
  color: #000000;
}
.under-bar {
  border-bottom: 3px solid #ec715f;
  width: 70px;
  margin: 0 auto;
  margin-top: 8px;
}
.text {
  text-align: center;
  margin-top: 30px;
  font-size: 16px;
  color: #000000;
}
.portfolio-box {
  margin: 0 auto;
  width: 920px;
}
.portfolio-img {
  background-size: 100% 100%;
  width: 300px;
  height: 250px;
  float: left;
}
.portfolio-img:first-child {
  background-image: url(img/sketch.jpg);
}
.portfolio-img:nth-child(2) {
  background-image: url(img/websuku.png);
}
.portfolio-img:nth-child(3) {
  background-image: url(img/write.jpg);
}
.portfolio-img:nth-child(4) {
  background-image: url(img/webcamp.png);
}
.portfolio-img:nth-child(5) {
  background-image: url(img/talk.jpg);
}
.portfolio-img:last-child {
  background-image: url(img/webcamp-mother.png);
}
.portfolio-img:first-child {
  margin-right: 10px;
}
.portfolio-img:nth-child(4) {
  margin-right: 10px;
}

.portfolio-img:nth-child(3) {
  margin-left: 10px;
}
.portfolio-img:nth-child(6) {
  margin-left: 10px;
}
.portfolio-img:nth-child(-n + 3) {
  margin-top: 30px;
}
.portfolio-img:nth-last-child(-n + 3) {
  margin-top: 10px;
  margin-bottom: 90px;
}

/* feature css */
.feat-content {
  width: 100%;
}

.feat-feat {
  width: 980px;
  margin: 0 auto;
}
.feature {
  width: 980px;
  display: flex;
  margin-top: 30px;
}
.feature-content {
  width: 320px;
  display: inline-block;
  padding-bottom: 90px;
  text-align: center;
}
.fab {
  font-size: 60px;
}
.feature-title {
  font-size: 20px;
  color: #000000;
  margin: 10px auto 10px auto;
}
.feature-content:nth-child(2) {
  margin-right: 10px;
  margin-left: 10px;
}

/* profile css */
.pro-content {
  width: 100%;
  background-color: #eceff1;
}

.pro-pro {
  width: 1024px;
  margin: 0 auto;
}

.profile-content {
  padding-top: 30px;
  padding-bottom: 90px;
  text-align: center;
  display: flex;
}

.profile-image-box {
  width: 512px;
}

.profile-image {
  height: 250px;
  width: 250px;
  display: inline-block;
  border-radius: 50%;
}

.profile-text {
  width: 512px;
  display: inline-block;
  text-align: left;
}

.profile-name {
  font-size: 20px;
}

.profile-skills {
  margin-top: 20px;
  font-size: 20px;
}

.name-skills {
  margin-top: 5px;
  font-size: 16px;
  color: #000000;
}

/* contact css */
.cont-content {
  width: 100%;
  padding-bottom: 90px;
  margin: 0 auto;
}
.contact-content {
  width: 800px;
  padding-top: 30px;
  margin: auto;
  display: flex;
}

.contact-info {
  width: 400px;
  text-align: center;
}
.contact-means {
  font-size: 20px;
}
.mail-tel {
  margin-top: 5px;
}

.sns-info {
  width: 400px;
  text-align: center;
}

.contact-sns {
  font-size: 20px;
  text-align: center;
}

.fab2 {
  font-size: 50px;
  margin-right: 20px;
  text-align: center;
}

/* footer css */
footer {
  background-color: #ec715f;
  height: 60px;
  width: 100%;
}

.footer-text {
  color: #fafafa;
  font-size: 16px;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  header {
    height: 50px;
    width: 90%;
    margin: 0 auto;
  }
  .header-logo {
    height: 50px;
  }
  .nav-list {
    display: none !important;
  }
  #hamburger {
    display: block !important;
    position: absolute;
    border: 2px solid;
    color: #ffffff;
    margin: 5px auto;
    right: 10%;
    width: 50px;
    height: 40px;
    cursor: pointer;
    transition: 1s;
  }

  .inner_line {
    display: block;
    position: absolute;
    margin-left: 3px;
    width: 40px;
    height: 3px;
    background-color: #ffffff;
    transition: 1s;
    border-radius: 4px;
  }

  #line1 {
    top: 5px;
  }
  #line2 {
    top: 16px;
  }
  #line3 {
    bottom: 7px;
  }

  .main-visual {
    height: 650px;
    background-image: url(img/code.png);
    background-size: cover;
    width: 90%;
    margin: 0 auto;
  }

  .main-visual-content {
    padding-top: 200px;
    font-size: 40px;
    color: #fafafa;
  }
  .main-visual-content-sub {
    margin-top: 10px;
    font-size: 18px;
    color: #fafafa;
  }

  .title {
    padding-top: 90px;
    font-size: 32px;
    color: #000000;
  }
  .text {
    font-size: 16px;
    color: #000000;
    margin: 30px auto;
  }

  /* portfolio */
  .port-content {
    width: 90%;
    margin: 0 auto;
  }

  .port-port {
    width: 90%;
    margin: 0 auto;
  }

  .portfolio-box {
    display: block;
  }

  .portfolio-img {
    float: none;
  }

  .portfolio-img:first-child {
    display: none;
  }

  .portfolio-img:nth-child(2) {
    display: block;
  }

  .portfolio-img:nth-child(3) {
    display: none;
  }

  .portfolio-img:nth-child(4) {
    display: block;
  }

  .portfolio-img:nth-child(5) {
    display: none;
  }

  .portfolio-img:last-child {
    display: block;
  }

  /* feature */
  .feature {
    width: 90%;
    margin: 0 auto;
    display: block;
    text-align: center;
  }

  .feat-feat {
    width: 90%;
    margin: 0 auto;
  }

  /* .feature-content {
    padding-top: 10px;
  } */

  /* profile */
  .pro-content {
    width: 90%;
    margin: 0 auto;
  }
  .pro-pro {
    width: 90%;
    margin: 0 auto;
  }

  .profile-content {
    padding-top: 30px;
    padding-bottom: 90px;
    display: block;
  }

  .profile-image-box {
    text-align: center;
  }
  .profile-text {
    text-align: center;
  }

  /* contact */
  .con-content {
    width: 90%;
    margin: 0 auto;
  }
  .contact-content {
    padding-top: 10px;
    margin: 0 auto;
    display: block;
  }
  .contact-means {
    font-size: 20px;
    color: #000000;
    margin-top: 20px;
  }

  .contact-sns {
    margin-top: 20px;
  }

  footer {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
